---
const { services } = Astro.props;
---

<div
  class={`w-[30%] h-fit card-container mx-auto group relative border border-gray-200 rounded-lg shadow-xl  text-white ${Astro.props.class}`}
>
  <button
    class="text-white focus:outline-none w-full mb-1 text-xl font-bold tracking-tight rounded-lg py-7 text-center"
    type="button"
    >{services.title}
    <span class="relative flex mx-auto">
      <svg
        class="animate-ping size-5 pt-1 inline-flex mx-auto"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"></path>
      </svg>
      <svg
        class="size-5 pt-2 absolute inline-flex left-[47.7%]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"></path>
      </svg>
    </span>
  </button>

  <!-- Dropdown menu -->
  <div
    class={`absolute top-30 left-0 hidden group-hover:block w-ful px-5 pb-8 z-10 rounded-b-lg ${Astro.props.class}`}
  >
    <ul class="text-white">
      <li>
        <a href="#" class="font-light text-base text-pretty opacity-90"
          >{services.description}</a
        >
      </li>
    </ul>
  </div>

  <img
    class="rounded-b-md w-full h-72 group-hover:opacity-50"
    src={services.url}
    alt=""
  />
</div>
